*.iml

.idea

projectFilesBackup

#*gradle*
#*.gradle
#*gradle*.*
#build.iradle
#/app/build.gradle

.gradle

*/build

*/build/*

*/build.*

/build



#.gradle/
#build/

/local.properties

/.idea/workspace.xml

/.idea/libraries

.DS_Store

#/build

/captures
