*.iml

.idea

projectFilesBackup

*gradel*
*.gradle
*gradle*.*
build.iradle
/app/build.gradle
.gradle

.gradle/
build/

/local.properties

/.idea/workspace.xml

/.idea/libraries

.DS_Store

/build

/captures
